# Claude
*settings.local.json

# Vagrant
.vagrant/

# terraform
*.tfstate
*.tfstate.*
.terraform/
!.terraform.lock.hcl
*.tfvars

# venv
.venv

# local notification config
config/check_vulnerability.env

# logs
logs/*
