<VirtualHost *:{{ apache_port }}>
    DocumentRoot {{ apache_document_root }}
    <Directory {{ apache_document_root }}>
        Options -Indexes
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>
