upstream backend {
{% for host in groups['web'] %}
  server {{ hostvars[host]['ansible_host'] }}:{{ web_http_port }}
  {%- if lb_control_action == 'drain' and host == inventory_hostname %} down{% endif %};
{% endfor %}
}